@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@300&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right top, #fefedf, #f6d6ae, #f1a992, #e27d8e, #bb5b9c, #a065b8, #7471cd, #007dd9, #00a0ed, #00c0f5, #00dff5, #5ffbf1);
  padding: 10px;
}

.container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 15px;
}

.container .title {
  font-size: 25px;
  font-weight: 600;
  position: relative;
}

.container .title::before{
  content:"";
  position:absolute;
  height: 3px;
  width: 30px;
  background-image: linear-gradient(to right top, #fefedf, #f6d6ae, #f1a992, #e27d8e, #bb5b9c, #a065b8, #7471cd, #007dd9, #00a0ed, #00c0f5, #00dff5, #5ffbf1);
  left:0;
  bottom: 0;
}

.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.container form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box .details{
  font-weight: 500;
  display: block;
  margin-bottom:5px;
}

.container .user-details .input-box input {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  padding-left: 10px;
  font-size: 14px;
  border-bottom-width: 2px;
  transition: all 0.5s ease;
}

.container .user-details .input-box input:focus,
.container .user-details .input-box input:valid{
  border-color: #53b1d6;
}

form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
}

form .gender-details .category{
  display: flex;
  width: 130%;
  margin: 14px 0;
  justify-content: space-between;
}

.gender-details .category label{
  display:flex
}

.gender-details .category .dot{
  background: #d9d9d9;
  height: 18px;
  width:18px;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  transition: all 0.5s ease;
}

#dot-1:checked ~.category label .one,
#dot-2:checked ~.category label .two,
#dot-3:checked ~.category label .three {

border-color: #d9d9d9;
background: #53b1d6;
}

form input[type="radio"]{
  display: none;
}

form .button{
  height: 40px;
  margin: 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  background: linear-gradient(to right top, #fefedf, #f6d6ae, #f1a992, #e27d8e, #bb5b9c, #a065b8, #7471cd, #007dd9, #00a0ed, #00c0f5, #00dff5, #5ffbf1);
  border: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 5px;
}

form .button input:hover{
  background: linear-gradient(-135deg, #fefedf, #f6d6ae, #f1a992, #e27d8e, #bb5b9c, #a065b8, #7471cd, #007dd9, #00a0ed, #00c0f5, #00dff5, #5ffbf1);
}